<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="theme-color" content="#0F0F12">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Amiga Consulting</title>
</head>

<body>
  <video autoplay muted loop playsinline class="bg-video">
  <source src="assets/bg.mp4" type="video/mp4">
</video>

<div class="shape"></div>
<div class="shape"></div>

<div class="card">

  <div class="left">
    <div class="logo">
      <img src="assets/logo-amiga.png" alt="Amiga">
    </div>

    <div class="small">BACK OFFICE AS A SERVICE</div>
    <h1>AMIGA Consulting</h1>
    <div class="tagline">We Run Your Ops, So You Can Run the Business</div>
  </div>

  <div class="right">

    <a href="https://wa.me/6285780232317" class="btn wa">
      <span>Contact Us</span>
      <img src="assets/icon-wa.png" class="icon">
    </a>

    <a href="https://amiga.id" class="btn web">
      <span>Website</span>
      <img src="assets/icon-web.png" class="icon">
    </a>

    <a href="https://www.amiga.id/layanan" class="btn svc">
      <span>Services</span>
      <img src="assets/icon-service.png" class="icon">
    </a>

    <a href="https://instagram.com/amiga_id" class="btn ig">
      <span>Instagram</span>
      <img src="assets/icon-ig.png" class="icon">
    </a>

  </div>
</div>

</body>
</html>
